<div id="<%= dom_id study_author %>">
  <p>
    <strong>First name:</strong>
    <%= study_author.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= study_author.last_name %>
  </p>

</div>
