<div class="container mt-4">
  <h1>Editing study author</h1>

  <%= render "form", study_author: @study_author %>

  <br>

  <div>
    <%= link_to "Show this study author", @study_author %> |
    <%= link_to "Back to study authors", study_authors_path %>
  </div>
</div>
