<div class="container mt-4">
  <h1>New verse comment</h1>

  <%= render "form", verse_comment: @verse_comment %>

  <br>

  <div>
    <%= link_to "Back to verse comments", verse_comments_path %>
  </div>
</div>
