<div class="container mt-4">
  <p style="color: green"><%= notice %></p>

  <h1>Snippets</h1>

  <%= link_to "New snippet", new_snippet_path %>

  <table id="SnippetsTable" class="row-border table table-striped">
    <thead>
      <tr>
        <th>Note</th>
        <th>Keyword</th>
      </tr>
    <tbody>
    <% @snippets.each do |snippet| %>
      <tr>
        <td><%= snippet.note %></td>    
        <td><%= snippet.keyword %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>
  new DataTable('#SnippetsTable', {
      layout: {
          topStart:{
              buttons: [
                {
                  extend: 'print',
                  exportOptions: {
                    stripHtml: false
                  }
                }
              ]
          }
      }
  });
</script>
