<div id="<%= dom_id study_note %>">
  <div>
    <strong>Page number:</strong>
    <p><%= study_note.page_number %></p>
  </div>

  <div>
    <strong>Note text:</strong>
    <p style='white-space: pre-wrap;'><%= study_note.note_text %></p>
  </div>

</div>

