<div id="<%= dom_id study_note %>">
  <p>
    <strong>Page number:</strong>
    <%= study_note.page_number %>
  </p>

  <p>
    <strong>Note text:</strong>
    <%= study_note.note_text %>
  </p>

</div>
