<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">
    <h1 class="display-2">Book Maker</h1>
    <p class="lead">The one-stop-shop for the organization of notes and the creation of new books.</p>
  </div>
</div>
