<h1>Editing study book</h1>

<%= render "form", study_book: @study_book %>

<br>

<div>
  <%= link_to "Show this study book", @study_book %> |
  <%= link_to "Back to study books", study_books_path %>
</div>
