<div id="<%= dom_id verse_collection %>">

  <p>
    <strong>Verses</strong>
    <ol style="list-style-type: none;">
      <% verse_collection.bible_verses.each do |bv| %>
        <li>
          <%= link_to "#{bv.full_id}", "/bible/verse_summary/#{bv.id}" %>
          <%= bv.verse_text %>
        </li>
      <% end %>
    </ol>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= verse_collection.comment %>
  </p>

</div>
