<div id="<%= dom_id verse_collection %>">

  <div>
    <strong>Verses</strong>
    <ol style="list-style-type: none;">
      <% verse_collection.bible_verses.order(:id).each do |bv| %>
        <li>
          <%= link_to "#{bv.full_id}", "/bible/verse_summary/#{bv.id}", target: :_blank %>
          <%= bv.verse_text %>
        </li>
      <% end %>
    </ol>
  </div>

  <div>
    <strong>Comment:</strong>
    <p style='white-space: pre-wrap;'><%= verse_collection.comment %></p>
  </div>

</div>
