<div class="container mt-4">
  <h1>Editing verse collection</h1>

  <%= render "form", verse_collection: @verse_collection %>

  <br>

  <div>
    <%= link_to "Show this verse collection", @verse_collection %> |
    <%= link_to "Back to verse collections", verse_collections_path %>
  </div>
</div>
