<div class="container mt-4">
  <p style="color: green"><%= notice %></p>

  <h1>Bible</h1>

  <table id="BibleVersesTable">
    <thead>
      <tr>
        <th>Book</th>
        <th>Chapter</th>
        <th>Verse</th>
        <th>Verse Text</th>
      </tr>
    </thead>
  </table>
</div>

<script>
  new DataTable('#BibleVersesTable', {
    ajax: {
      url: '/bible/verses.json',
      dataSrc: ''
    },
      columns: [{data: 'book'},{data: 'chapter'},{data: 'verse'},{data: 'verse_text'}],
    ordering: false,
    layout: {
      topStart:{
        buttons: ['print', 'csv']
      }
    }
  });
</script>
